<form name="new_link" action="/" method="post">
  <fieldset>
    <ol>
      <li>
        <label for="url">URL</label>
        <input id="url" name="url" type="text" placeholder="http://www.google.com/" />
        <button type="submit">Shorten</button>
      </li>
    </ol>
  </fieldset>
</form>