<form name="new_link" action="/" method="post">
  <fieldset>
    <ol>
      <li>
        <label for="url">URL</label>
        <input id="url" name="url" type="text" placeholder="Exact url including http://" />
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <button type="submit">Shorten url</button>
  </fieldset>
</form>